---
name: home
url: /
---
<link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
<div class="grid-blocks" style="padding: 0;">
 <p><a class="lead" href="http://helenpark.nl">
      <img src="http://helenpark.nl/images/logo-helen-parkhurst.png"></p></a>
</div>
<section class = "main">
  	<div class = "wrap small-up-1 medium-up-2">
  	<div class = "align-center grid-block">
  		<h1>Part One</h1>
  			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  	</div>
  	<div class = "align-center grid-block">
  		<h1>Part One</h1>
  	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  	</div>
  </section>

